<<<<<<< HEAD
body {
  width: 100%;
  height: 100%;
  background: #333333;
}

footer {
=======
header {
  background: url(img/Rectangle3.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 1100px;
>>>>>>> master
  display: flex;
  justify-content: center;
}

.container {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
<<<<<<< HEAD
}

.aside {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.aside__line {
  width: 1125px;
}

.aside__item {
  width: 1125px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aside__item_text {
  margin: 30px 0;
  font-family: "Open Sans";
  font-size: 12px;
  color: #989898;
}

@media screen and (max-width: 1175px) {
  .container {
    max-width: 1000px;
  }

  .aside__line {
    width: 705px;
  }

  .aside__item {
    width: 705px;
  }
}

@media screen and (max-width: 775px) {
  .container {
    max-width: 700px;
  }

  .aside__line {
    width: 520px;
  }

  .aside__item {
    width: 520px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 400px;
  }

  .aside__line {
    width: 320px;
  }

  .aside__item {
    width: 320px;
  }

  .aside__item_text {
    font-size: 9px;
=======
}

.heading {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

input {
  display: none;
}

.menu {
  font-size: 18px;
  text-transform: uppercase;
  list-style-type: none;
  margin-top: 50px;
}

.menu__item {
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  margin-right: 65px;
}

.menu__item_reset {
  margin-right: 0;
}

.number {
  letter-spacing: 0.05em;
  height: 25px;
  margin: 50px 0 0 170px;
  width: 120px;
  border-bottom: 3px solid #d1a954;
}

.number__item {
  text-decoration: none;
  color: #fff;
}

.description {
  display: flex;
  justify-content: center;
}

.preview {
  text-transform: uppercase;
  margin-top: 310px;
  width: 540px;
}

.preview__heading {
  margin-bottom: 40px;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.preview__paragrah {
  font-family: "Open Sans";
  text-transform: none;
  font-size: 14px;
  margin-bottom: 50px;
  line-height: 1.5em;
}

.button {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  background: #d1a954;
  padding: 15px 40px;
}

.menu__img {
  display: none;
}

@media screen and (max-width: 1175px) {
  .container {
    max-width: 1000px;
  }

  header {
    height: 900px;
  }

  .heading {
    flex-direction: column;
    align-items: center;
  }

  .number {
    margin-left: 0;
  }

  .menu__item {
    margin-right: 25px;
  }

  .menu__item_reset {
    margin-right: 0;
  }

  .preview {
    margin-top: 235px;
  }

  .description {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 775px) {
  .container {
    max-width: 700px;
    padding: 0 35px;
  }

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    top: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    margin-top: 30px;
  }

  .menu__btn > span::before {
    content: "";
    top: -8px;
    position: absolute;
    height: 3px;
    width: 25px;
    background-color: #fff;
    transition: all 0.5s;
  }

  .menu__btn > span {
    width: 20px;
    position: absolute;
    height: 3px;
    background-color: #fff;
    transition: all 0.5s;
  }

  .menu__btn > span::after {
    content: "";
    top: 8px;
    width: 15px;
    position: absolute;
    height: 3px;
    background-color: #fff;
    transition: all 0.5s;
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 130px 0;
    background: #333333;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition: all 1.2s;
  }

  .menu__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    visibility: hidden;
    top: 530px;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 0 20px;
    transition: all 1.2s;
  }

  .menu__img_item {
    margin: 0 60px 50px 0;
  }

  .menu__item {
    display: block;
    padding: 15px 0 15px 40px;
    font-size: 24px;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    width: 20px;
    position: fixed;
    margin-left: 210px;
    transition: all 1.5s;
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    width: 20px;
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    width: 20px;
  }

  #menu__toggle:checked ~ .menu,
  #menu__toggle:checked ~ .menu__img {
    visibility: visible;
    left: 0;
  }

  .preview {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 350px;
    padding: 0;
  }

  header {
    height: 800px;
  }

  .preview {
    margin-top: 120px;
    text-align: center;
>>>>>>> master
  }
}
