body {
  width: 100%;
  height: 100%;
  background: #333333;
}

.container {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
}

.aside {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.aside__line {
  width: 1125px;
}

.aside__item {
  width: 1125px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aside__item_text {
  margin: 30px 0;
  font-family: "Open Sans";
  font-size: 12px;
  color: #989898;
}

@media screen and (max-width: 1200px) {
  .aside__line {
    width: 705px;
  }

  .aside__item {
    width: 705px;
  }
}

@media screen and (max-width: 775px) {
  .aside__line {
    width: 520px;
  }

  .aside__item {
    width: 520px;
  }
}

@media screen and (max-width: 615px) {
  .aside__line {
    width: 320px;
  }

  .aside__item {
    width: 320px;
  }

  .aside__item_text {
    font-size: 9px;
  }
}
